// typography
h1 {
  color: @gold-color;
  text-transform: uppercase;
  font-size: 82px;
  font-weight: bold;
  letter-spacing: 10px;
  @media (max-width: @grid-float-breakpoint-max) {
    font-size: 40px;
  }
}
h2{
  color: @heading-color;
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 20px;
  letter-spacing: 5px;
  padding-bottom: 20px;
  text-transform: uppercase;
  @media (max-width: @grid-float-breakpoint-max) {
    font-size: 30px;
  }
}

// full screen mask
.mask{
  position: fixed;
  z-index: 1036;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  .opacity(0);
  .transition(opacity 0.3s, width 0s 0.3s, height 0s 0.3s);
  &.active{
    width: 100%;
    height: 100%;
    .opacity(0.7);
    .transition(opacity 0.3s);
  }
}

// panels
.featured-panel{
  padding: 0;
  height: 100%;
  background: @dark-bg-color;
  .lead, .page-header{
    border: none;
    margin-bottom: 30px;
  }
  .btn-lg{
    padding: 15px 120px 15px 90px;
    position: relative;
    @media (max-width: @grid-float-breakpoint-max) {
      padding: 15px 60px 15px 20px;
    }
  }
  
} 


