.btn-primary:hover {
  background-color: #333;
}

.down-arrow-wrapper{
  height: 70px;
  .down-arrow{
    position: relative;
    width: 1px;
    height: 1px;
    display: block;
    background: #fff;
    margin-left: 8px;
    animation-name: arrowverticalline;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1; /* number of times to animate */
    animation-fill-mode: forwards; /* where the robot should be after animation ends */
    &:before {
        position: relative;
        top: 0;
        content: "";
        display: inline-block;
        width: 8px;
        height: 8px;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        transform: rotate(45deg);
        margin-left: -3px;
        animation-name: arrowverticalhead;
        animation-duration: 1.5s;
        animation-timing-function: ease-in;
        animation-iteration-count: 1; /* number of times to animate */
        animation-fill-mode: forwards; /* where the robot should be after animation ends */
    }
  }
}
.right-arrow{
  position: relative;
  width: 30px;
  height: 1px;
  display: block;
  background: #fff;
  left: 110px;
  bottom: 11px;
  &:before {
      position: relative;
      bottom: 13px;
      left: 13px;
      content: "";
      display: inline-block;
      width: 8px;
      height: 8px;
      border-right: 1px solid #fff;
      border-top: 1px solid #fff;
      transform: rotate(45deg);
      margin-left: -3px;
  }
}
/* our animation*/
.keyframes(arrowverticalline;{
  0% { height: 0; }
  100% { height: 70px; }
});
.keyframes(arrowverticalhead;{
  0% { top: -14px; }
  100% { top: 54px; }
});