// furniture panel
.furniture{
	p{
		padding-bottom: 20px;
	}
	img{
		.drop-shadow();
	}
	hr.line-animate{
		margin-top: 42px;
		width: 1px;
		transition: 1s;
		float: left;
		&.right{
			float: right;
		}
		&.active{
			width: 100%;
		}
	}
	.btn{
		padding: 0;
		color: #000;
		text-transform: uppercase;
		font-weight: bold;
		width: 138px;
		text-align: left;
		&:before{
			content: '';
		    position: relative;
		    width: 35px;
		    height: 1px;
		    display: block;
		    background: @gold-color;
			left: 100px;
			top: 10px;
		}
		&:after {
	      	position: relative;
		    bottom: 3px;
		    left: 38px;
		    content: "";
		    display: inline-block;
		    width: 5px;
		    height: 5px;
		    border-right: 1px solid #bea67c;
		    border-top: 1px solid #bea67c;
		    .rotate(45deg);
		    margin-left: -3px;
		}
	}
	img{
		width: 100%;
	}
}

