// burger menu button
.navbar-toggle{
	display: block;
  left: 15px;
  position: absolute;
  width: 100px;
  .opacity(1);
  &:hover{
    .opacity(0.7);
  }
  .icon-bar {
    height: 1px;
    margin-bottom: 9px;
    width: 30px;
  }
}
.navmenu-title{
  color: @nav-text-color;
  margin-left: 40px;
  margin-top: -30px;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
}

// main menu
.navbar-nav > li > a{
  padding-left: 50px;
  padding-right: 50px;
  font-size: 15px;
  text-transform: uppercase;
  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    padding: 43px 30px 10px 30px;
  }
}
@media (max-width: @grid-float-breakpoint-max) {
  #navbar{
    margin-left: 23%;
  }
  .navbar-default{
    min-height: 80px;
  }
  .navbar-brand{
    padding: 25px 15px;
    height: 50px;
  }
  .navbar-toggle{
    margin-top: 18px;
  }
}
@media (max-width: @screen-sm-max) {
  #fp-nav{
    display: none;
  }
}

// sidebar navigation
#navmenu-side{
  float: left;
  height: 100%;
  width: 0px;
  position: absolute;
  z-index: 1040;
  background: #000;
  transition: 0.5s;
  overflow: hidden;
  border-right: 2px solid #bbb;
  visibility: hidden;
  .close-button{
    padding: 37px 25px;
    float: left;
    color: @nav-text-color;
    background: transparent;
    border: none;
    outline: none;
    .opacity(1);
    &:hover{
      .opacity(0.6);
    }
    .icon{
      display: block;
      float: left;
      height: 33px;
      width: 33px;
      margin-right: 8px;
      position: relative;
      &:before, &:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 1px;
        background-color: @gold-color;
      }
      &:before {
        .rotate(45deg);
      }
      &:after {
        .rotate(-45deg);
      }
    }
    .text{
      font-size: 15px;
      margin-top: 6px;
      display: block;
      float: left;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
  .nav{
    float: left;
    margin-top: 15%;
    margin-left: 20%;
    clear: both;
    > li{
      a{
         padding: 4px 15px;
        color: @nav-text-color;
        text-transform: uppercase;
        font-size: 30px;
        &:hover{
          color: #fff;
          background: transparent;
        }
      }
    }
    
  }
}

// Sticky footer styles

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  color: @footer-default-color;
  background-color: @footer-bg;
  .company{
    color: @footer-default-color;
  }
}
@media (max-width: @grid-float-breakpoint-max) {
  .footer {
    height: 100px;
  }
}


// Custom page CSS

.footer{
  > .container {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
  }
  ul{
    list-style: none;
    padding: 0px 15px;
    >li{
      margin-left: 0;
      padding: 0;
    }
  }
}

