/** Bootstrap overrides **/
// colours
@dark-bg-color: #151413;
@nav-text-color: #848180;
@heading-color: #010101;
@gold-color: #bea67c;
@grey-color: #848180;

// typeface
@font-family-base: 'Montserrat', sans-serif;

// header
@navbar-height: 100px;
@navbar-default-color: @nav-text-color;
@navbar-default-bg: @dark-bg-color;
@navbar-default-toggle-border-color: transparent;
@navbar-default-toggle-hover-bg: transparent;
@navbar-default-toggle-icon-bar-bg: @gold-color;

// footer
@footer-default-color: #464646;
@footer-bg: @dark-bg-color;

// content
@jumbotron-bg: @dark-bg-color;
@container-large-desktop: 1000px;

// buttons
@btn-primary-border: #fff;
@btn-primary-bg: transparent;
@btn-border-radius-large: 0;

@hr-border: #000;